.body {
    font-family: Arial;
}

.leftGreetingColumn {
    top: 9.5vh; /*To not collide with header */
    height: 93.3%;
    width: 67%;
    position: absolute;
    left: 0;
    right: 67%;
    background-image: url("../images/ripple.png");
    background-size: cover; /*Resizing page? No problem, background resizes to cover this column */
    background-position: bottom left;
    background-repeat: no-repeat;

}
.transparentLogo {
    height: 25vh;
    margin-left: 19vw;
}
.featureWords {
    color: white;
    font-size: 3.75vh;
    font-family: Arial;
    margin-top: 2vh;
    text-align: center;
}
.slogan {
    color: white;
    font-size: 5vh;
    font-family: Arial;
    margin-top: 9vh;
    text-align: center;
}


.rightLoginColumn {
    top: 9.5vh; /*To not collide with header */
    height: 93.3%;
    width: 33%;
    left: 67%;
    position: absolute;
    background-image: url("../images/orangetowhite.png");
    background-size: cover; /*Resizing page? No problem, background resizes to cover this column */
    background-position: bottom left;
    background-repeat: no-repeat;

    padding-top: 2vw;
}
.loginContainer{
    margin-left: 4.8vw;
    margin-bottom: 5vh;
    overflow: hidden; /*To not push the width of the page more */
    margin-top: 3.4vh;
    
    width: 20vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 2vw;
}
.titleWords {
    color: white;
    font-family: Arial;
    font-size: 7vh;
    padding-bottom: 1vh;
    padding-left: 0.2vw;
}
.loginTextBox {
    border-radius: 1vw;
    padding-left: 0.6vw;
    margin-bottom: 1.5vh;
    margin-right: 7vw; /*To start on new line the next div */
    border: 0.05vw solid rgb(202, 202, 202);
    height: 5vh;
    width: 19vw;
    display: table-row;
    font-size: 3.4vh;
}
.forgotPasswordLink {
    font-family: Arial;
    font-size:2.3vh;
    color: white;
    text-decoration: none;
    padding-left: 1vw;
}
.forgotPasswordLink:hover {
    text-decoration: underline;
}
.loginButton {
    font-family: Arial;
    height: 5.25vh;
    width: 6.5vw;
    margin-left: 6.5vw;
    font-size: 3.15vh;
    color: white;
    border-radius: 2vw;
    border: 0.05vw solid rgb(151, 151, 151);
    background-color: rgb(0, 183, 255);
    overflow:hidden;
    margin-top: 1vh;
    transition: 0.5s;
}
.loginButton:hover {
    background-color: white;
    color: rgb(0, 140, 255);
    transition: 0.5s;
}

.signUpContainer {
    margin-left: 4.8vw;
    margin-bottom: 2vh;
    margin-top: 3vh;
    overflow: hidden; /*To not push the width of the page more */

    width: 20vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 2vw;
}
.mediumLoginText {
    font-family: Arial;
    color: white;
    font-size: 2.85vh;
    padding-left: 0.3vw;
}
.signUpButton {
    font-family: Arial;
    text-decoration: none;
    font-size: 3.5vh;
    border-radius: 2vw;
    color: white;
    background-color: rgb(0, 195, 255);
    padding: 0.6vw;
    padding-left: 1.7vw;
    padding-right: 1.7vw;
    border: 0.05vw solid rgb(151, 151, 151);
    transition: 0.5s;
}
.signUpButton:hover {
    background-color: white;
    color: rgb(0, 140, 255);
    transition: 0.5s;
}

